/* 
html{ border-left: 10px solid #82b4d6; border-bottom: 10px solid #82b4d6; border-right: 10px solid #82b4d6; height: auto; }
*/
#bwp-custommode{ font-size: 16px; font-weight: bold; color: #FFF; background-color: #82b4d6; text-align: center; padding-top: 5px; padding-right: 20px; padding-bottom: 10px; padding-left: 20px; }
#bwp-custommode a{ font-size: 12px; }
